<!--<!DOCTYPE html>-->
{% extends 'base.html' %}

{% load static %}

{% block title %}Web上にあなた専用の日記ページを保存できるサービス | Private Diary{% endblock %}

{% block header %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Voice MAP</h1>
            <h2 class="masthead-subheading mb-0">声の地図を作成します</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Voice MAP</h2>
                    <p>声優さんのVoiceMapを使用し、似ている声を探せます。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Voice Mapping</h2>
                    <p>あなたの声質を地図に追加します</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">こえまねトレーニング！</h2>
                    <p>目標のVoiceMap付近になるまで練習しましょう！</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block contents_plot %}
    <img src="/media/moka.jpg" width="100%" height="100%" border="0" />

    <canvas id="radar-chart" height="500px"></canvas>
    <script type="text/javascript">
    var ctx = document.getElementById("radar-chart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['国語', '算数', '理科', '社会', '英語'],
            datasets: [
                {   label: "{{ person1.name }}",
                    data: ['{{ person1.japanese }}', '{{ person1.math }}', '{{ person1.science }}', '{{ person1.social }}', '{{ person1.english }}'],
                    backgroundColor: 'rgba(255, 99, 132, 0.6)',
                    borderColor: 'rgba(255, 99, 132, 0.9)',
                    pointBackgroundColor: 'rgba(255, 99, 132, 0.9)',
                    pointBorderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 3,
                    pointRadius: 3,
                },{
                    label: "{{ person2.name }}",
                    data: ['{{ person2.japanese }}', '{{ person2.math }}', '{{ person2.science }}', '{{ person2.social }}', '{{ person2.english }}'],
                    backgroundColor: 'rgba(0, 0, 255, 0.6)',
                    borderColor: 'rgba(0, 0, 255, 0.9)',
                    pointBackgroundColor: 'rgba(0, 0, 255, 0.9)',
                    pointBorderColor: 'rgba(0, 0, 255, 1)',
                    borderWidth: 3,
                    pointRadius: 3,
                }]},
        options : {
            scale: {
                ticks: {
                    min: 50,
                    max: 100,
                    stepSize: 5,
                    backdropColor: 'rgba(255, 255, 255, 0)',
                }}}
    });
    </script>
{% endblock %}

<!--<html lang="ja">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>トップページ</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Hello World</h1>-->
<!--</body>-->
<!--</html>-->