{% extends 'base.html' %}

{% block title %}お問い合わせ | Private Diary{% endblock %}

{% block active_vmap %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form action="" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
                <button type="submit">送信</button>
            </form>

            {% if download_url %}
                 <a href="{{ download_url }}">{{ download_url }}</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}